extends layout

block content
  h1= title

  h2 Yesterday 2012-04-25
  ul
    li Work on a query [finished] [continue]
    li Did support tickets [finished] [continue]
    li fix a thing (finished)

  h2 Today 2012-04-26
  ul
    li Merge my thing   [finished] [continue]
    li Deploy a fix  [finished] [continue]

