extends layout

block content
  #hopeapp
    header
      h3 Hopes
      input#new-hope(type='text', placeholder='today I hope to...')
      #error
    section#main
      ul#hope-list

  |  <script type="text/template" id="item-template">
  |    <div class="view">
  |      <label><%- desc %></label>
  |      <%- moment(date).calendar() %>
  |      <a class="bump">[bump]<%= bumpCount == 0 ? '' : " (" + bumpCount + ")" %></a>
  |      <a class="destroy">[finished]</a>
  |    </div>
  |    <input style='visibility:hidden' class="edit" type="text" value="<%= desc %>" />
  |  </script>


