extends layout

block content
  #todoapp
    header
      h1 Hopes
      input#new-todo(type='text', placeholder='today I hope to...')
      #error
    section#main
      ul#todo-list
    footer
      a#clear-completed Clear completed
      #todo-count

  |  <script type="text/template" id="item-template">
  |    <div class="view">
  |      <label><%- desc %></label>
  |      <%- date %>
  |      <a class="bump">[bump]<%= bumpCount == 0 ? '' : " (" + bumpCount + ")" %></a>
  |      <a class="destroy">[finished]</a>
  |    </div>
  |    <input style='visibility:hidden' class="edit" type="text" value="<%= desc %>" />
  |  </script>

  |  <script type="text/template" id="stats-template">
  |    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  |  </script>


