!!!
html
  head
    title Auth App: #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a#Home(href="/") Home
    br
    a#Home(href="/private") Private
    - if(user)
      ul#Authed
        li= JSON.stringify(user)
        li
          img(src="#{user.google.picture}", width=50)
        li
          a(href="/logout") Sign Out
    - else
      ul#Authenticate
        li
          a(href='auth/google') Sign in with google

    block content

    script(src='http://code.jquery.com/jquery-1.8.0.min.js')
    script(src='/underscore-min.js')
    script(src='/backbone.js')
    != js('client')
