!!!
html
  head
    title Slouch
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .container
      .hero-unit
        .row
          .span8
            h1 Slouch

          - if(user)
            .span2
              br
              img(src="#{user.google.picture}", style='border-radius:20px;', width=50)
              br
              = user.google.name
              br
              a(href="/logout") Sign Out

        - if(!user)
          h2
            a(href='auth/google') Sign in with google

        - if(user)
          block content

          script(src='http://code.jquery.com/jquery-1.8.0.min.js')
          script(src='/underscore-min.js')
          script(src='/backbone.js')
          script(src='/moment.min.js')
          != js('client')
